.donation-section{
    min-height: 550px;
    background-color: #fff;
    color: black;
}
.reserve-section{
  min-height: 550px;
  background-color: var(--primaryColor);
  color: #fff;
}
.signup-content{
  margin-left: 20%;
}
   .book-reservation-header,.book-donation-header {
    font-size: 30px;
    margin-top: 30px;
    text-transform: uppercase;
    margin-bottom: 32px; 
}
  
.register-form {
    padding: 50px; 
}

    .form-row .form-group {
      width: 50%;
}
  
  .form-group {
    margin-bottom: 23px;
    position: relative; }
  
  input, select {
    display: block;
    width: 100%;
    border: 1px solid grey;
    padding: 11px 20px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 13px; }
  label {
    font-size: 14px;
    margin-bottom: 2px;
    display: block; }
  
  .form-select {
    position: relative; }

  
  .form-submit {
    text-align: left;
    padding-top: 27px; }
  
  #submit {
    background: transparent;
    padding: 20px 30px;
    border: 1px solid grey;
    color: var(--primaryColor);
    border-radius: 20px;
    text-align: center; 
    text-decoration: none;
    transition: .4s;
 }
    #submit:hover {
        background: var(--primaryColor);
        color: #fff; }

        #reserve-submit {
          background: transparent;
          padding: 20px 29px;
          border: 1px solid grey;
          color: #fff;
          border-radius: 20px;
          text-align: center; 
          text-decoration: none;
          transition: .4s;
       }
          #reserve-submit:hover {
              background: #fff;
              color: var(--primaryColor); }
  
  @media screen and (max-width: 992px) {
      .signup-content {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column; }
  
    .signup-form {
      width: 100%; } }
  @media screen and (max-width: 768px) {
    .register-form {
      padding: 50px 40px 50px 40px;
      margin-left: -70px;
    } 
    }
  @media screen and (max-width: 575px) {
    .form-row {
      flex-direction: column;
      -moz-flex-direction: column;
      -webkit-flex-direction: column;
      -o-flex-direction: column;
      -ms-flex-direction: column;
      margin: 0px; }
  
    .form-row .form-group {
      width: 100%;
      padding: 0px; }

  @media screen and (max-width: 480px) {
  .submit {
      width: 100%; }
 }
  
  }
  